.header {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.left-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.right-buttons {
  display: flex;
  align-items: center;
}

.icon-mode {
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.2s ease-in-out;
}
.icon-mode:hover {
  transform: scale(1.2);
}

.btn-download,
.btn-script {
  background-color: #facc15;
  color: black;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-download:hover,
.btn-script:hover {
  background-color: #eab308;
}
